body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#container {
    position: relative;
    width: 600px;
    height: 400px;
    max-width: 95vw;
    border: solid 1px black;
}

#you-loose {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(155, 0, 0, 0.3);
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.play-again {
    height: 50px;
    width: 100px;
    border-radius: 10%;
    font-weight: 500;
    font-size: 1rem;
}

#canvas {
    position: absolute;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
}

.bomb {
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: 900;
}

.exploded {
    background-color: black;
    color: white;
}
