body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#container {
    position: relative;
    width: 600px;
    height: 400px;
    max-width: 95vw;
    border: solid 1px black;
}

#you-loose {
    display: none;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(155, 0, 0, 0.3);
    text-align: center;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#canvas {
    position: absolute;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    /* margin: 0px 50px 50px 0px; */
}

.bomb {
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.exploded {
    background-color: black;
    color: white;
}
